@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-bg: #F8F7FC;
  --color-ink: #18161F;
  --color-muted: #716B7D;
  --color-border: #E8E4EF;
  --color-accent: #552ef1;
}

.dark {
  --color-bg:  #0D0B14;
  --color-ink: #b9c2ce;
  --color-muted: #6e7680;
  --color-border: #1e2229;
  --color-accent: #1f3460;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background: var(--color-bg);
    color: var(--color-ink);
  }
}